.image{
            width: 150px;
}
#pading{
    padding: 20px 50px;
    }
.fondo{
    background-color: rgb(30, 29, 29);
}
.background{
    background-color: rgb(61, 21, 21);
}
.texto{
    color: aliceblue;
}